{% extends 'base.html.twig' %}

{% block title %}Contact me ! {% endblock %}

{% block body %}
    <div class="container">
        <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">I am <em>Adrien Hecq</em>, a young dude passionate about cooking and coding.</p>
        </div>
        <h2>This website was made using : </h2>
        <div class="p-3">
            <h4 class="font-italic">Progamming Languages</h4>
            <ol class="list-unstyled mb-0">
                <li><a>Php 8.2</a></li>
                <li><a>HTML</a></li>
                <li><a>JavaScript</a></li>
            </ol>
        </div>
        <div class="p-3">
            <h4 class="font-italic">Libraries & Frameworks</h4>
            <ol class="list-unstyled mb-0">
                <li><a>Symfony</a></li>
                <li><a>React</a></li>
                <li><a>Bootstrap</a></li>
            </ol>
        </div>
        <div class="p-3">
            <h4 class="font-italic">Database</h4>
            <ol class="list-unstyled mb-0">
                <li><a>MySQL</a></li>
                <li><a>Doctrine</a></li>
            </ol>
        </div>
        <div class="p-3">
            <h4 class="font-italic">Database</h4>
            <ol class="list-unstyled mb-0">
                <li><a>MySQL</a></li>
                <li><a>Doctrine</a></li>
            </ol>
        </div>
    </div>
{% endblock %}
