{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div {{ react_component('Home') }}></div>
    <h3>2 eme react element</h3>
    <recipe-list data-post="{{ 1 }}" data-user="¨{{ app.user ? app.user.id :0 }}"></recipe-list>
{% endblock %}