{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}

    <div class="text-amber-400 " {{ react_component('Hello.jsx', {'fullName' : 'AdrienHq'}) }}>ICI</div>

{% endblock %}
