{% for category in categories %}
{#    <li><a class="dropdown-item" href="#">Category 1</a></li>#}
    <li>
        <a class="dropdown-item" href="{{ path('category.index', {id: category.id} ) }}">{{ category.name }}</a>
    </li>
{%  endfor %}