.table-container {
    padding: 0px;
    box-sizing: border-box;
    margin-top: 50px;
}

.table-title {
    font-size: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}

table, td, th {
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}