ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    position: absolute;
    z-index: 999;
    display: none;
    background-color: blue;
}

ul li a:hover {
    background-color: red;
}

ul li:hover ul.dropdown{
    display: block;
}