/* Style for Logout button */
.btn-danger {
    background-color: orangered;
    border-color: orangered;
}

.btn-danger:hover {
    background-color: darkred;
    border-color: darkred;
}

/* Style for Login button */
.btn-success {
    background-color: forestgreen;
    border-color: forestgreen;
    z-index: 999;
}

.btn-success:hover {
    background-color: greenyellow;
    border-color: greenyellow;
}

.separator
{
    height: 2px;
    margin: 30px;
    background-image: radial-gradient(black, white), radial-gradient(black, white);
    /*background-position: 0, 100%, 0, 100%;*/
}