{% extends "/admin/admin.html.twig" %}

{% block title "Edit course : " ~ course.name %}

{% block body %}
    <h1>{{ course.name |capitalize }}</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
