@import '~bootstrap/scss/bootstrap';
@import './_variables.scss';
@import './_navigation.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin: 0;
  background-color: #f8f9f8;
}