{% extends "/admin/admin.html.twig" %}

{% block title "Create a category !" %}

{% block body %}
    <h1>Create a new category</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
