{% extends "/admin/admin.html.twig" %}

{% block title "Edit category : " ~ category.name %}

{% block body %}
    <h1>{{ category.name |capitalize }}</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
