{% extends "/admin/admin.html.twig" %}

{% block title "Edit recipe : " ~ recipe.name %}

{% block body %}
    <h1>{{ recipe.name }} recipe</h1>
    {{  form_start(form) }}
    {{  form_end(form) }}
{% endblock %}
