{% extends "/admin/admin.html.twig" %}

{% block title "Create an ingredient !" %}

{% block body %}
    <h1>Create a new Ingredient</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
{% endblock %}
