{% extends 'base.html.twig' %}

{% block title %}Cookie Policy{% endblock %}

{% block body %}
    <h1 style="padding-top: 15px;">Cookie Policy</h1>
    <p style="padding-top: 15px;">Nifty Noms uses cookies to enhance your experience on our website. By using niftynoms.com, you agree to the use of cookies in accordance with this Cookie Policy.</p>

    <h2 style="padding-top: 15px;">What Are Cookies?</h2>
    <p class="font-italic" style="padding-top: 15px;">Cookies are small text files that are stored on your computer or mobile device when you visit a website. They help us understand how you use our site and how we can improve your experience.</p>

    <h2 style="padding-top: 15px;">Types of Cookies We Use</h2>
    <ul>
        <li><strong>Essential Cookies</strong>: These cookies are necessary for the website to function and cannot be switched off in our systems.</li>
        <li><strong>Performance Cookies</strong>: These cookies help us understand how visitors interact with our website by collecting and reporting information anonymously.</li>
        <li><strong>Marketing Cookies</strong>: These cookies are used to track visitors across websites to display relevant advertisements.</li>
    </ul>

    <h2 style="padding-top: 15px;">Managing Cookies</h2>
    <p style="padding-top: 15px;">You can control and/or delete cookies as you wish. For more information, visit aboutcookies.org. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed.</p>
{% endblock %}
