{% extends 'base.html.twig' %}

{% block title %}Terms and Conditions{% endblock %}

{% block body %}
    <h1 style="padding-top: 15px;">Terms and Conditions</h1>
    <p style="padding-top: 15px;">Welcome to Nifty Noms! These terms and conditions outline the rules and regulations for the use of Nifty Noms' Website, located at www.niftynoms.com.</p>
    <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use Nifty Noms if you do not agree to all of the terms and conditions stated on this page.</p>

    <h2 style="padding-top: 15px;">Intellectual Property Rights</h2>
    <p style="padding-top: 15px;">Unless otherwise stated, Nifty Noms and/or its licensors own the intellectual property rights for all material on Nifty Noms. All intellectual property rights are reserved. You may access this from Nifty Noms for your own personal use subjected to restrictions set in these terms and conditions.</p>

    <h2 style="padding-top: 15px;">Restrictions</h2>
    <p style="padding-top: 15px;">You are specifically restricted from the following:</p>
    <ul>
        <li>Selling, sublicensing, and/or otherwise commercializing any website material.</li>
        <li>Using this website in any way that is or may be damaging to this website.</li>
        <li>Engaging in any data mining, data harvesting, data extracting, or any other similar activity in relation to this website.</li>
    </ul>

    <h2 style="padding-top: 15px;">Limitation of Liability</h2>
    <p style="padding-top: 15px;">In no event shall Nifty Noms, nor any of its officers, directors, and employees, be liable for anything arising out of or in any way connected with your use of this website.</p>

    <h2 style="padding-top: 15px;">Governing Law & Jurisdiction</h2>
    <p style="padding-top: 15px;">These Terms will be governed by and interpreted in accordance with the laws of the European Union, and you submit to the non-exclusive jurisdiction of the state and federal courts located in the EU for the resolution of any disputes.</p>
{% endblock %}
