<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Nifty Noms{% endblock %}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="base-body">
{% include 'components/navbar.html.twig' %}
{% include 'partials/flash.html.twig' %}
{% block body %}
    {% include 'components/hero.html.twig' with {recipes : randomRecipes, popularRecipes : popularRecipes} only %}
{% endblock %}
{% block footer %}
    {% include 'components/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>






