{% extends "base.html.twig" %}

{% block body %}
    <h1>Recipes</h1>
    <div>
        {% for recipe in recipes %}
            <li>
                <a href="{{ path('recipe.detail', {id: recipe.id, slug: recipe.slug } ) }}">{{ recipe.getName() }}</a>
            </li>
        {% endfor %}
    </div>
{% endblock %}

