{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ recipe.name }} recipe</h1>
    <div>
        {{ recipe.description }}
    </div>
    </br>
    {% for category in recipe.category %}
        <p>
            {{ category.name }}
        </p>
    {% endfor %}
{% endblock %}
